#board{
  display: flex;
  height: 100%;
  flex-flow: row wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Helvetica;
	
  height: 20vh;
  margin: 10px;
  border: 10px solid white;
  box-shadow: 0 0 3px 3px grey;
	
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1.5%;
}

.hidden{
  background-image: linear-gradient(to bottom right, #200331, #4e1c71, #200331);
}

.hidden:hover{
  cursor: pointer;
}

.correct{
  box-shadow: 0 0 3px 3px green;
}

@media(min-width: 1000px) {
  .card {
    flex-basis: 15%;
  }
}

@media(max-width: 1000px) {
   .card {
    flex-basis: 25%;
  }
}